<ion-view view-title="添加银行卡">
    <ion-content class="stable-bg">
        <form name="form">
        <div class="list">
            <div class="item item-input">
                <span class="input-label">银行卡号</span>
                <input type="password" placeholder="请输入银行卡号">
            </div>
            <div class="item item-select">
                <span class="input-label">开户行</span>
                <select>
                    <option>建设银行</option>
                    <option>农业银行</option>
                    <option>工商银行</option>
                </select>
            </div>
            <div class="item item-input">
                <span class="input-label">预留手机</span>
                <input type="password" placeholder="请输入预留手机号">
            </div>
        </div>
        <div class="btn90">
            <button style="border-radius: 5px;" class="button button-block button-ff7d2e">确定</button>
        </div>
        </form>
    </ion-content>
</ion-view>
