<ion-view view-title="帮助中心">
    <ion-content class="stable-bg">
        <div class="help_top text-center row light-bg">
            <div class="col" ng-click="showModal()"><img src="img/custom.png" alt="客服"><div class="margin-top10">在线客服</div></div>
            <div class="col" ui-sref="onlinemsg"><img src="img/online_msg.png" alt="在线留言"><div class="margin-top10">在线留言</div></div>
        </div>
        <p style="margin-top:10px;padding-left:16px;color:#999999;">常见问题</p>
        <div class="list">
            <div class="item item-icon-right" ui-sref="helpdetail({id:1})">
                <h2 class="cs6">常见问题标题</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
            <div class="item item-icon-right" ui-sref="helpdetail({id:2})">
                <h2 class="cs6">常见问题标题</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
            <div class="item item-icon-right" ui-sref="helpdetail({id:3})">
                <h2 class="cs6">常见问题标题</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
            <div class="item item-icon-right" ui-sref="helpdetail({id:4})">
                <h2 class="cs6">常见问题标题</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
            <div class="item item-icon-right" ui-sref="helpdetail({id:5})">
                <h2 class="cs6">常见问题标题</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
        </div>
    </ion-content>
</ion-view>
