<ion-view view-title="帮助中心">
    <div class="help_top text-center row light-bg">
        <div class="col" ng-click="showModal()"><img src="img/custom.png" alt="客服"><div class="margin-top10">在线客服</div></div>
        <div class="col" ui-sref="onlinemsg"><img src="img/online_msg.png" alt="在线留言"><div class="margin-top10">在线留言</div></div>
    </div>
    <ion-content class="stable-bg" style="margin-top:130px">
        <p style="margin-top:10px;padding-left:16px;color:#999999;">常见问题</p>
        <div class="list">
            <div class="item item-icon-right" ng-repeat="item in data">
                <h2 class="cs6" ng-bind="item.questionType"></h2>
                <i class="icon ion-ios-arrow-right" ng-click="viewDetail(item)"></i>
            </div>
        </div>
    </ion-content>
</ion-view>
