<ion-view view-title="历史账单" class="stable-bg">
    <ion-content>
        <div>
            <p class="cs6 margin-top10 padding-left">2017年账单</p>
            <div class="list">
                <div class="item light-bg item-icon-right" ng-repeat="data in [1,2]">
                    <h2>10,000.00现金可借</h2>
                    <p>2017.03.30-2017.04.30</p>
                    <i class="icon" style="font-size: 18px; padding-right: 30px;" ui-sref="historybilldetail">99,999.99<i style="right: 0px;" class="icon ion-ios-arrow-right"></i></i>
                </div>
            </div>
        </div>
        <div>
            <p class="cs6 margin-top10 padding-left">2016年账单</p>
            <div class="list">
                <div class="item light-bg item-icon-right" ng-repeat="data in [1]">
                    <h2>10,000.00现金可借</h2>
                    <p>2016.03.30-2016.04.30</p>
                    <i class="icon" style="font-size: 18px; padding-right: 30px;" ui-sref="historybilldetail">99,999.99<i style="right: 0px;" class="icon ion-ios-arrow-right"></i></i>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
