<ion-view view-title="免息券">
    <div class="tabs light-bg" style="top:0;">
        <a class="tab-item" ng-repeat="tab in tabs" ng-class="{true:'active',false:''}[tab.success]" ng-bind="tab.name" ng-click="clickTab($index)"></a>
    </div>
    <ion-content class="has-header stable-bg padding">
        <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()">
        </ion-refresher>
      	<div class="list">
        		<div class="item light-bg margin-top10 padding0" style="border-radius:10px;" ng-repeat="item in data">
                <div class="row">
                    <div class="col col-25">
                        <img src="img/free.png" alt="免息券">
                    </div>
                    <div class="col">
                        <h2 style="font-size:18px;margin-top: 0.18rem;">{{item.title}}</h2>
                        <p>{{item.content}}</p>
                    </div>
                </div>
        		</div>
      	</div>
    <ion-infinite-scroll icon="ion-loading-c" ng-if="!moredata" on-infinite="loadMore()" distance="1%" ></ion-infinite-scroll>
    </ion-content>
</ion-view>
