<ion-view view-title="邀请奖励">
    <ion-content style="background:url(img/invite_bg.png) no-repeat left top;background-size: cover;" scroll=false>
        <div class="text-center light" style="margin-top:93%;">
            <p>0位好友为我赚取了</p>
            <p>0元</p>
            <p>邀请一位好友借款最高可得50元奖励，多邀多得</p>
            <div class="btn">
              <button class="button button-assertive button-block" style="border-radius:20px;">立即邀请</button>
              <button class="button button-outline button-light button-block" style="border-radius:20px;">立即邀请</button>
            </div>
        </div>
    </ion-content>
</ion-view>
