<ion-view view-title="借款记录" class="stable-bg">
    <!-- <p class="text-right cs6 margin-top10 padding-right">还款日：2017.05.30</p>
    <div class="item">
        <h2>本次账单总额</h2>
        <div class="row padding0">
            <div class="col col-10 padding0"><img src="img/icon_bill.png"  style="width:0.3rem;"></div>
            <div class="col font-size30">999,999.99</div>
        </div>
    </div>
    <div class="item item-icon-right margin-top15 bordernone">
        <h2>历史账单</h2>
        <i class="icon ion-ios-arrow-right" ui-sref="historybill" ></i>
    </div> -->
    <ion-content class="padding has-footer">
        <div class="item tabs light-bg margin-top15">
            <a class="tab-item" ng-repeat="tab in tabs" ng-class="{true:'active',false:''}[tab.success]" ng-bind="tab.name" ng-click="clickTab($index)"></a>
        </div>
        <div class="list">
            <div class="item light-bg margin-top15" ng-repeat="data in loanData">
                <h2 class="cs3 font-size18" style="font-weight: bold;margin-bottom:10px;">{{data.totalMoney | number:2}}现金借款</h2>
                <div class="row bortop text-center">
                    <div class="col col-33">
                        <p>总借款金额</p>
                        <span class="font-size20 cs3">{{data.capital | number:2}}</span>
                    </div>
                    <div class="col">
                        <p>利息</p>
                        <span class="font-size20 cs3">{{data.interest | number:2}}</span>
                    </div>
                </div>
                <div class="row text-center margin-top10">
                    <div class="col col-33">
                        <p>还款日</p>
                        <span class="font-size20 cs3" ng-bind="{{(data.status == 0 || data.status == 1) ? data.planDate : data.repaymentDate}}"></span>
                    </div>
                    <div class="col">
                        <p>订单状态</p>
                        <span class="font-size18 cs3" >{{data.status == 0 ? "待还款": data.status == 1 ? "还款中": data.status == 2 ? "逾期": "已完成"}}</span>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer" ng-show="type">
        <div class="button-bar">
            <a class="button" style="background:#ffc68f; color:#fff;border-radius:5px;" ng-click="doRepay()">提前还款</a>
            <a class="button button-ff7d2e" style="border-radius:5px;margin-left:20px;" ng-click="doRepay()">还款</a>
        </div>
    </div>
</ion-view>
