<ion-view view-title="我的消息">
    <ion-content class="stable-bg">
        <div class="list">
            <div class="item item-avatar item-icon-right" >
                <img src="img/icon_news.png">
                <span>系统通知</span>
                <span class="fr csdb">2017.05.13</span>
                <p>系统通知内容系统通知内容系统通知内容系统</p>
            </div>
            <div class="item item-avatar item-icon-right" >
                <img src="img/icon_news.png">
                <span>系统通知</span>
                <span class="fr csdb">2017.05.13</span>
                <p>系统通知内容系统通知内容系统通知内容系统</p>
            </div>
            <div class="item item-avatar item-icon-right" >
                <img src="img/icon_news.png">
                <span>系统通知</span>
                <span class="fr csdb">2017.05.13</span>
                <p>系统通知内容系统通知内容系统通知内容系统</p>
            </div>
            <div class="item item-avatar item-icon-right" >
                <img src="img/icon_news.png">
                <span>系统通知</span>
                <span class="fr csdb">2017.05.13</span>
                <p>系统通知内容系统通知内容系统通知内容系统</p>
            </div>
        </div>
    </ion-content>
</ion-view>
