<ion-view view-title="在线留言">
    <ion-content class="stable-bg">
        <form name="form">
        <div class="list margin-top10">
            <label class="item item-input item-stacked-label" style="padding-right:15px;">嘉鸿 现金卡 感谢您的留言
                <textarea placeholder="请输入你的意见和建议" style="height:2rem;border-radius:10px;border:1px solid #dbdbdb;padding:10px;margin-top:10px;"></textarea>
            </label>
        </div>
        <div class="btn90">
            <button style="border-radius: 5px;" class="button button-block button-ff7d2e">提交</button>
        </div>
        </form>
    </ion-content>
</ion-view>
