<ion-view view-title="登录">
    <ion-content class="stable-bg">
        <form name="form">
            <p style="margin-top:10px;padding-left:16px;color:#999999;">手机号已注册，请输入密码</p>
            <div class="list">
                <div class="item item-input">
                    <span class="input-label">密码</span>
                    <input type="password" placeholder="请输入密码">
                </div>
            </div>
            <div class="btn90">
                <button style="border-radius: 5px;" class="button button-block button-ff7d2e" ui-sref="register">确定</button>
            </div>
        </form>
    </ion-content>
</ion-view>
