<ion-view view-title="注册">
    <ion-content class="stable-bg">
        <form name="form">
        <p style="margin-top:10px;padding-left:16px;color:#999999;">手机号未注册，请完成注册</p>
        <div class="list">
            <div class="item item-input">
                <span class="input-label" style="width:25%;">验证码</span>
                <input type="text" placeholder="请输入验证码">
                <button class="btn_hqyzm">获取验证码</button>
            </div>
            <div class="item item-input">
                <span class="input-label" style="width:25%;">密码</span>
                <input type="password" placeholder="请输入密码">
            </div>
            <div class="item item-input">
                <span class="input-label" style="width:25%;">重复密码</span>
                <input type="password" placeholder="再次输入密码">
            </div>
        </div>
        <div class="btn90">
            <button style="border-radius: 5px;" class="button button-block button-ff7d2e" ui-sref="tab.my">确定</button>
        </div>
        </form>
    </ion-content>
</ion-view>
