<ion-view view-title="本次账单" class="stable-bg">
    <ion-content class="has-footer">
        <p class="text-right cs6 margin-top10 padding-right">还款日：2017.05.30</p>
        <div class="list">
            <div class="item text-center padding20">
                <p style="color:#999;font-size:18px;margin-bottom:10px;">本次账单</p>
                <span class="font-size30 cff7d2e">999,999.99</span>
            </div>
            <div class="item item-select">
                <span class="input-label">免息券</span>
                <select>
                    <option>有可用免息券</option>
                    <option>无可用免息券</option>
                </select>
            </div>
            <div class="item item-input">
                <span class="input-label">实付金额</span>
                <input type="text" class="text-right" value="999,999.99">
            </div>
            <div class="item item-select">
                <span class="input-label">银行卡</span>
                <select>
                    <option>工商银行（尾号8797）</option>
                    <option>工商银行（尾号8745）</option>
                </select>
            </div>
        </div>
        <div class="btn90">
            <button style="border-radius: 5px;" class="button button-block button-ff7d2e">还款</button>
        </div>
    </ion-content>
</ion-view>
