<ion-view view-title="设置">
    <ion-content class="stable-bg">
        <div class="item item-avatar item-icon-right bordernone" ng-click="show()">
            <img src="img/avatar.png">
            <i class="icon" style="font-size: 16px; color: #999; padding-right: 30px;">头像设置<i style="right: 0px;" class="icon ion-ios-arrow-right"></i></i>
        </div>
        <div class="list my_list margin-top15">
            <div class="item item-icon-right" ui-sref="mobilemange">
                <h2>手机号</h2>
                <i class="icon" style="font-size: 16px; padding-right: 30px;">已绑定，可修改<i style="right: 0px;" class="icon ion-ios-arrow-right"></i></i>
            </div>
            <div class="item item-icon-right" ui-sref="updatepass({type:1})">
                <h2>密码修改</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
            <div class="item item-icon-right" ui-sref="updatepass({type:2})">
                <h2>交易密码</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
            <div class="item item-icon-right" ui-sref="bankcard">
                <h2>银行卡管理</h2>
                <i class="icon" style="font-size: 16px;padding-right: 30px;" ng-style="{color:bandBank.color}">{{bandBank.text}}<i style="right: 0px;" class="icon ion-ios-arrow-right"></i></i>
            </div>
            <div class="item item-icon-right" ui-sref="aboutus">
                <h2>关于我们</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
            <div class="item item-icon-right" ui-sref="contract">
                <h2>模板合同协议</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
        </div>
        <div class="btn90">
              <button class="button button-block button-ff7d2e" ng-click="loginOut()">安全退出</button>
        </div>
    </ion-content>
</ion-view>
