<ion-view view-title="车辆信息">
    <ion-content class="stable-bg">
        <form name="form">
        <div class="list margin-top25">
            <div class="item item-input">
                <span class="input-label">购买时间</span>
                <input type="text" placeholder="请输入购买时间">
            </div>
            <div class="item item-input">
                <span class="input-label">车牌号码</span>
                <input type="text" placeholder="请输入车牌号码">
            </div>
            <div class="item item-input">
                <span class="input-label">汽车品牌</span>
                <input type="text" placeholder="请输入汽车品牌">
            </div>
            <div class="item padding0">
                <div class="row padding0">
                    <div class="col col-33"><span class="input-label"  style="padding-left:11px;">按揭与否</span></div>
                    <div class="col" defined-radio>
                        <input type="radio" name="mortgage" id="noMort" checked  ng-model="formData.mortgage">
                        <label for="noMort" class="label_radio"><i class="icon ion-ios-circle-filled"></i>无</label>
                        <input type="radio" name="mortgage" id="mort"  ng-model="formData.mortgage">
                        <label for="mort" class="label_radio"><i class="icon ion-ios-circle-outline"></i>有</label>
                    </div>
                </div>
            </div>
            <div class="item item-input">
                <span class="input-label"></span>
                <input type="text" placeholder="有按揭请输入月供金额">
            </div>
            <div class="item item-input">
                <span class="input-label"></span>
                <input type="text" placeholder="有按揭请输入剩余期限">
            </div>
        </div>
        <div class="btn90">
            <button style="border-radius: 5px;" class="button button-block button-ff7d2e">提交</button>
        </div>
        </form>
    </ion-content>
</ion-view>
