<ion-view view-title="紧急联系人">
    <ion-content class="stable-bg">
        <form name="form">
        <p style="margin-top:10px;padding-left:16px;color:#999999;">联系人一</p>
        <div class="list">
            <div class="item item-select">
                <span class="input-label">关系</span>
                <select>
                    <option>父女</option>
                    <option>兄弟</option>
                    <option>姐妹</option>
                </select>
            </div>
            <div class="item item-input">
                <span class="input-label">联系人姓名</span>
                <input type="text" placeholder="请输入所选联系人的姓名">
            </div>
            <div class="item item-input">
                <span class="input-label">联系人电话</span>
                <input type="text" placeholder="请输入联系人电话">
            </div>
        </div>
        <p style="margin-top:-10px;padding-left:16px;color:#999999;">联系人二</p>
        <div class="list">
            <div class="item item-select">
                <span class="input-label">关系</span>
                <select>
                    <option>父女</option>
                    <option>兄弟</option>
                    <option>姐妹</option>
                </select>
            </div>
            <div class="item item-input">
                <span class="input-label">联系人姓名</span>
                <input type="text" placeholder="请输入所选联系人的姓名">
            </div>
            <div class="item item-input">
                <span class="input-label">联系人电话</span>
                <input type="text" placeholder="请输入联系人电话">
            </div>
        </div>
        <div class="btn90">
            <button style="border-radius: 5px;" class="button button-block button-ff7d2e">提交</button>
        </div>
        </form>
    </ion-content>
</ion-view>
