<ion-view view-title="身份认证">
    <ion-content class="add_idcard stable-bg>
        <form name="form">
        <div class="list">
            <div class="item item-input">
                <span class="input-label">人脸识别</span>
                <img src="img/photo.png" alt="人脸识别" style="margin-left: 27px;" ng-click="show()">
            </div>
            <div class="item item-input">
                <span class="input-label">身份证上传</span>
                <div class="row">
                    <div class="col col-40"><span>正</span><img src="img/photo.png" alt="身份证上传" ng-click="show()"></div>
                    <div class="col"><span>反</span><img src="img/photo.png" alt="身份证上传" ng-click="show()"></div>
                </div>
            </div>
            <div class="item item-input">
                <span class="input-label">手持证件照</span>
                <img src="img/photo.png" alt="人脸识别" style="margin-left: 27px;" ng-click="show()">
            </div>
            <div class="item item-input">
                <span class="input-label">姓名</span>
                <input type="text" placeholder="请输入真实姓名">
            </div>
            <div class="item item-input">
                <span class="input-label">身份证</span>
                <input type="text" placeholder="请输入身份证号">
            </div>
            <div class="item padding0">
                <div class="row padding0">
                    <div class="col col-33"><span class="input-label"  style="padding-left:11px;">性别</span></div>
                    <div class="col" defined-radio >
                        <input type="radio" name="sex" id="male" checked  ng-model="formData.sex">
                        <label for="male" class="label_radio"><i class="icon ion-ios-circle-filled"></i>男</label>
                        <input type="radio" name="sex" id="female"  ng-model="formData.sex">
                        <label for="female" class="label_radio"><i class="icon ion-ios-circle-outline"></i>女</label>
                    </div>
                </div>
            </div>
            <div class="item item-select">
                <span class="input-label">从事行业</span>
                <select>
                    <option selected>计算机</option>
                    <option >医学</option>
                    <option>教育</option>
                </select>
            </div>
            <div class="item item-input">
                <span class="input-label">居住地址</span>
                <input type="text" placeholder="请输入单位详细地址">
            </div>
            <div class="item item-select">
                <span class="input-label">学历</span>
                <select>
                    <option selected>大专</option>
                    <option>本科</option>
                    <option>硕士</option>
                </select>
            </div>
        </div>
        <div class="btn90">
            <button style="border-radius: 5px;" class="button button-block button-ff7d2e">提交</button>
        </div>
        </form>
    </ion-content>
</ion-view>
