<ion-view view-title="社保账号">
    <ion-content class="stable-bg">
        <form name="form">
        <div class="list margin-top25">
            <div class="item item-input">
                <span class="input-label">社保账号</span>
                <input type="text" placeholder="请输入社保账号">
            </div>
        </div>
        <div class="btn90">
            <button style="border-radius: 5px;" class="button button-block button-ff7d2e">提交</button>
        </div>
        </form>
    </ion-content>
</ion-view>
