<ion-view view-title="芝麻信用">
    <ion-content class="stable-bg">
        <div><img src="img/icon_auth5.png" style="width:100%" alt="认证第五步"></div>
        <form name="form">
        <div class="text-center zhimaContent">
            <img src="img/zhima.png" alt="芝麻信用">
            <p>芝麻信用，是蚂蚁金服旗下独立的第三方征信机构，通过云计算、机器学习等技术客观呈现个人的信用状况，已经在信用卡、消费金融、融资租赁、酒店、租房、出行、婚恋、分类信息、学生服务、公共事业服务等上百个场景为用户、商户提供信用服务。</p>
        </div>
        <p style="margin-top:10px;padding-left:16px;color:#999999;"><span style="color:#970000;">温馨提示：</span>获得额度分为五个步骤请耐心填写。</p>
        <div class="btn90 margin-top15">
            <button style="border-radius: 5px;" class="button button-block button-ff7d2e" ng-click="zhimaClick()">前往芝麻信用授权</button>
        </div>
        </form>
    </ion-content>
    <!-- <div class="btn_bottom">
        <button style="border-radius: 5px;width:90%;margin:10px auto;" class="button button-block button-ff7d2e" ng-click="zhimaClick()">前往芝麻信用授权</button>
    </div> -->
</ion-view>
