<ion-view view-title="芝麻信用">
    <ion-content class="stable-bg">
        <div><img src="img/icon_auth5.png" style="width:100%" alt="认证第五步"></div>
        <form name="form">
        <div class="text-center zhimaContent">
            <img src="img/zhimaok.png" style="width:35%;" alt="芝麻信用">
            <div class="text-center font-size16 margin-top25">芝麻信用认证成功</div>
        </div>
        <p style="margin-top:10px;padding-left:16px;color:#999999;"><span style="color:#970000;">温馨提示：</span>获得额度分为五个步骤请耐心填写。</p>
        </form>
    </ion-content>
    <div class="btn_bottom">
        <button style="border-radius: 5px;width:90%;margin:10px auto;" class="button button-block button-ff7d2e" ui-sref="tab.authenticate">确定</button>
    </div>
</ion-view>
