<ion-view view-title="首页">
    <ion-content scroll=false class="borrow_wrap">
        <!-- <img src="img/borrow_bg.png" alt="首页"> -->
        <div>
            <h1 class="title">嘉鸿</h1>
            <div class="location"><i class="icon icon_location"></i><span>杭州</span></div>
            <div class="borrow_center">
                <div class="borrow_top">待还款金额</div>
                <div class="borrow_main" style="margin-top:0.2rem">999,900</div>

                <!-- <div class="borrow_top">最高借款额度</div>
                <div class="big_money"><span>15</span>万</div> -->

                <!-- <div class="borrow_main">未登录</div> -->

                <!-- <div class="borrow_main">审核中</div> -->
            </div>
            <div class="btn">
              <button style="border-radius: 20px;" class="button button-block button-ff7d2e" ui-sref="loan">立即还款</button>
              <!-- <button style="border-radius: 20px;" class="button button-block button-ff7d2e">立即借款</button>
              <button style="border-radius: 20px;" class="button button-block button-ff7d2e">立即登录</button>
              <button style="border-radius: 20px;" class="button button-block button-fffcc9">额度审核中</button> -->
            </div>
            <div class="borrow_prompt icon ion-alert-circled"><span>暂不为学生服务</span></div>
            <div class="borrow_notivce text-center">
                <div class="swiper-container">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide"><div class="notivce">尾号9808，刚刚借款10,000.00元</div></div>
                    <div class="swiper-slide"><div class="notivce">尾号4535，刚刚借款4,000.00元</div></div>
                    <div class="swiper-slide"><div class="notivce">尾号1354，刚刚借款12,000.00元</div></div>
                    <div class="swiper-slide"><div class="notivce">尾号3712，刚刚借款1,000.00元</div></div>
                  </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
